{% extends "new/base.html" %}
{% block content %}
<div class="content-container">
    <div class="content-box">
        <h4><a href="{% url 'iit-list'%}">View Institute-wise Cut-off</a></h4>
        <p>Here are the details about the 23 IITs.</p>
    </div>

    <div class="content-box">
        <h4><a href="{% url 'josaa-input'%}">College Predictor</a></h4>
        <p>We provide a brief prediction based on your JEE Advanced rank.</p>
    </div>

    <div class="content-box">
        <h4><a href="{% url 'insti_cutoff'%}">Analyzing Institute Cut-off by Category</a></h4>
        <p>Trends in every IIT over the years — understand program popularity and perception.</p>
    </div>

    <div class="content-box">
        <h4><a href="{% url 'iitb' college='Indian Institute of Technology Bombay'%}">Round-wise Cut-off Analysis</a></h4>
        <p>Highlights changes in closing ranks across different rounds of counseling.</p>
    </div>
</div>
{% endblock %}
